
body {
    background-color: white;
}

  h1 {
background-color: blue;

}

h2 {
background-color: blue;
    
}

 h3 {
background-color: blue;
        
}
 h4 {
 background-color: blue;
            
}
  h5 {
 background-color: blue;
                
}